<%- include("layouts/header") %>

    <main>
        <h1>This is ejs</h1>
        <form action="/" method="post"><input type="text" placeholder="Enter the language name" , name="pLanguage">
            <button type="submit">ADD</button>
        </form>
        <ul>

            <% if (languageName.length==0) { %>

                <h6>Data is not found</h6>
                <% } else { %>
                    <% for( var index=0; index < languageName.length; index++ ) { %>
                        <li>
                            <%= languageName[index] %>
                        </li>

                        <% } %>
                            <% } %>

        </ul>
    </main>
    <%- include("layouts/footer") %>