
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    align-items: center;
}

h1{
    width: 200px;
    color: red;
   text-align: center;
   font-size: 50px;
   border-radius: 20px;

  
   background-color: aqua;
}

